@page
@model auction_house.Pages.Items.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.StartingPrice" class="control-label"></label>
                <input asp-for="Item.StartingPrice" class="form-control" />
                <span asp-validation-for="Item.StartingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.AuctionEventID" class="control-label"></label>
                <select asp-for="Item.AuctionEventID" class ="form-control" asp-items="ViewBag.AuctionEventID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.StartDate" class="control-label"></label>
                <input asp-for="Item.StartDate" class="form-control" />
                <span asp-validation-for="Item.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.SellerID" class="control-label"></label>
                <select asp-for="Item.SellerID" class ="form-control" asp-items="ViewBag.SellerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.CategoryID" class="control-label"></label>
                <select asp-for="Item.CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.OriginID" class="control-label"></label>
                <select asp-for="Item.OriginID" class ="form-control" asp-items="ViewBag.OriginID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
